body {
  padding-top: 30px;
  padding-bottom: 5px;
  background: #222222;
  background-image: url('images/stripe.png');
  background-repeat: repeat;
}

#title {
  color: #ffffff;
  text-shadow: 2px 2px #000000;

  &:first-letter {
    font-weight: bold;
  }

  &:hover {
    color: #555555;
  }
}

.content {
  color: #999999;
}

.navbar {
  i {
    color: #ccc;
    margin-right: 5px;
  }

  #score {
    background-color: #000000;
    padding: 2px 7px 2px 5px;
    text-align: center;
    color: #ccc;
    font-weight: bold;
    border: 1px solid #ccc;
  }

  #login-sign-in-link, #login-name-link {
    text-decoration: none;
    color: #777777;
  }
}

#name-reminder, #face-reminder {
  width: 70%;
  margin: 100px auto;

  h1 {
    margin-bottom: 50px;
  }

  #personToFind {
    margin-right: 50px;
    max-width: 500px;
  }

  .next {
    color: #ffffff;
    font-size: 80px;
    margin-top: 20px;

    &:hover {
      color: #999999;
    }
  }

  p {
    text-align: center;
  }
}

#face-reminder {
  .picture {
    cursor: pointer;
    width: 300px;
  }

  .disabled-picture {
    opacity: 0.3;
  }
}


#credits {
  color: #999999;
  margin-top: 30px;
  text-align: center;
  text-decoration: underline;
}

#top10Container {
  margin: 0 auto;
  width: 40%;

  .top1 {
    background-color: #444444;
  }

  .top2 {
    background-color: #333333;
  }

  .top3 {
    background-color: #1A1819;
  }
}

#addProfileContainer {
  margin: 0 auto;
  width: 40%;

  .picture-input {
    height: 200px;
    width: 100%;
    color: #999;
  }

  #delete-photograph {
    float: right;
    margin-right: 5px;
  }

  #picture-preview {
    height: 200px;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.camera-popup {
  width: auto;
}

.photo-preview {
  margin-bottom: 10px;
}

.personBox {
  display: block;
  width: 230px;
  height: 230px;
  margin: 2px;
  border: 2px solid #000;
  background-size: cover;
  background-position: center;

  span.identity {
    position: relative;
    top: 170px;
    left: -18px;
    background-color: #000000;
    margin-left: 10px;
    padding: 5px;
    color: #ffffff;
    font-size: 18px;
    opacity: 0.8;
  }

  div.edit {
    position: relative;
    bottom: -5px;
    left: -10px;
    color: #ffffff;

    i {
      background-color: #222222;
      border: 1px solid #ffffff;
      opacity: 0.5;
      cursor: pointer;

      &.update-person-button {
        padding: 2px 2px;
      }

      &.delete-person-button {
        padding: 2px 4px;
      }

      &.show-profile-button {
        padding: 2px 4px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .edit-form {
    width: 226px;
    height: 226px;
    position: relative;
    top: 0;
    left: -15px;
    background: #000000;
    opacity: 0.9;
    padding: 15px 10px;
  }
}

